
  .admin {
    background-color: #BBE088;
  }
  .image-bg {
    width: 1067px;
    height: 628px;
  
  }
  .img-logo {
    width: auto;
    height: 4rem;
}

  .img-dashboard {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

  .img-grup{
    width: 250px;
    height: auto;
  }
  .content-bg {
    position: absolute;
    padding-top: 30px;
    padding-left: 120px;
    display: flex;
    justify-content: center;
    width:100%
  }

  .bg-admin {
    background-color: #BBE088;
    text-align: center;
  }


  .login-form {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 90px;
  }

  .bg-user {
    background-color: #55a0d7 ;
    text-align: center;
  }

  .register-form {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 90px;
  }
  .success-form {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 150px;
  }

  .btn-color {
    background-color: #096AAF;
  }

  .Login{
    margin: 10px;
  }